<nav>
    <ul>
        <li>
            <a href="">Home</a>
        </li>
        <li>
                <a href="">Events</a>
            </li>
            
        <li>
                <a href="">Blogs</a>
            </li>
            

        <li>
                <a href="">Contact</a>
            </li>
            
       
       
    </ul>
</nav>