<nav>
    <ul>
        <li>
            <a href="../index.ejs">Home</a>
        </li>
            

        <li>
                <a href="../contact.ejs">Contact</a>
            </li>
            
       
       
    </ul>
</nav>