<!DOCTYPE html>
<html>
    <head>
        <title>
            Demo Page.
        </title>
        <style>
            body{
                background: skyblue;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: #fff;
                padding: 30px;
            }
            h1{
                font-size: 48px;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 2px;
            }
            p{
                font-size: 16px;
                text-align: center;
            }
        </style>

    </head>

    <body>
            <% include partials/nav.ejs %>
        <h1>Contact Us!</h1>
        <p>Contact coolest cat on the web right here.</p>
    </body>
</html>